<div id="general" class="col-12 common flex-column">

    <div id="calculator" class="col-5 p-5 shadow">

        <div class="input-group input-group col-12">
            <div class="form-control" type="text">{{input}}</div>
        </div>

        <div class="input-group input-group col-12">
            <div class="form-control" type="text">{{result}}</div>
        </div>

        <div class="col-12 p-1 m-0 mt-3">
            <button class="btn col-6 operations" style="color: #c83a40" type="button"
                (click)="allClear()">C</button>
            <button style="color: #c83a40;" class="btn col-3 offset-3 bi-backspace operations" type="button"
                (click)="clear()"></button>
        </div>

        <div class="col-12 p-1 m-0">
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('7')">7</button>
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('8')">8</button>
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('9')">9</button>
            <button class="operations btn btn-lg col-3 p-1" type="button" (click)="pressOperator('+')">+</button>
        </div>
        <div class="col-12 p-1 m-0">
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('4')">4</button>
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('5')">5</button>
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('6')">6</button>
            <button class="operations btn btn-lg col-3 p-1" type="button" (click)="pressOperator('-')">-</button>
        </div>
        <div class="col-12 p-1 m-0">
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('1')">1</button>
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('2')">2</button>
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('3')">3</button>
            <button class="operations btn btn-lg col-3 p-1" type="button" (click)="pressOperator('*')">x</button>
        </div>
        <div class="col-12 p-1 m-0">
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('.')">.</button>
            <button class="number btn btn-lg col-3 p-1" type="button" (click)="pressNum('0')">0</button>
            <button class="btn col-3 offset-3 operations" type="button" (click)="pressOperator('/')">/</button>
        </div>

        <div class="col-12">
            <button style="background-color: #1b3849" class="operations btn btn-lg col-12 p-1"
                type="button" (click)="getAnswer()">=</button>
        </div>

    </div>